
.flex {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 0.4rem;
}
#profile {
  grid-template-columns: 1fr 1fr 1fr;
}
#basics {
  grid-column-start: span 2;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
li {
  font-size: 0.8rem;
}
@media print {
.work-item {
    page-break-inside: avoid;
}
}

.date[data-v-12b6b610] {
  color: var(--muted-color);
  font-size: 0.6rem;
}

hgroup > h1[data-v-9ee104bc],
h2[data-v-9ee104bc],
h3[data-v-9ee104bc],
h4[data-v-9ee104bc],
h5[data-v-9ee104bc],
h6[data-v-9ee104bc] {
  --sidebarhead: 1.1rem;
}
article[data-v-9ee104bc] {
  box-shadow: 0 0 0;
  border: lightgray solid 1px;
}
@media print {
.grid[data-v-9ee104bc] {
    grid-template-columns: 1fr 1fr 1fr;
}
hgroup[data-v-9ee104bc] {
    page-break-inside: avoid;
}
p[data-v-9ee104bc],
  span[data-v-9ee104bc],
  ul[data-v-9ee104bc],
  li[data-v-9ee104bc] {
    font-size: 0.7rem;
}
}
.side-content[data-v-9ee104bc] {
  font-size: 0.8rem !important;
}
.side-content hgroup[data-v-9ee104bc]:last-child {
  font-size: 0.8rem !important;
}
#body[data-v-9ee104bc] {
  grid-template-columns: 1fr 1fr 1fr;
}
#main[data-v-9ee104bc] {
  grid-column-start: span 2;
}
#sidebar[data-v-9ee104bc] {
}

.builder {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 90%;
}
@media only screen and (max-width: 600px) {
.builder {
    max-width: 100%;
}
}

hgroup > h1[data-v-4da01676],
h2[data-v-4da01676],
h3[data-v-4da01676],
h4[data-v-4da01676],
h5[data-v-4da01676],
h6[data-v-4da01676] {
  --sidebarhead: 1.1rem;
}
article[data-v-4da01676] {
  box-shadow: 0 0 0;
  border: lightgray solid 1px;
}
@media print {
.grid[data-v-4da01676] {
    grid-template-columns: 1fr 1fr 1fr;
}
hgroup[data-v-4da01676] {
    page-break-inside: avoid;
}
p[data-v-4da01676],
  span[data-v-4da01676],
  ul[data-v-4da01676],
  li[data-v-4da01676] {
    font-size: 0.7rem;
}
}
.side-content[data-v-4da01676] {
  font-size: 0.8rem !important;
}
.side-content hgroup[data-v-4da01676]:last-child {
  font-size: 0.8rem !important;
}
#body[data-v-4da01676] {
  grid-template-columns: 1fr 1fr 1fr;
}
#main[data-v-4da01676] {
  grid-column-start: span 2;
}
#sidebar[data-v-4da01676] {
}

@media print {
#site-header {
    display: none;
}
#print-header {
    display: block;
}
}
@media screen {
#site-header {
    display: block;
}
#print-header {
    display: none;
    display: none;
}
}

.cv-sidebar-content {
  font-size: 0.8rem !important;
}
.cv-sidebar-article {
  margin: 0.8rem 0 !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.2rem !important;
}
.cv-sidebar-header {
  margin-bottom: 1rem !important;
}
